Source: stomper
Section: python
Priority: extra
Maintainer: paul cannon <pik@debian.org>
Build-Depends: debhelper (>= 7.0.50~), python, python-support
Standards-Version: 3.9.1
Homepage: http://pypi.python.org/pypi/stomper

Package: python-stomper
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-setuptools
Provides: ${python:Provides}
Suggests: python-twisted-core
Description: Python client implementation of the STOMP protocol
 The client is attempting to be transport layer neutral. This module
 provides functions to create and parse STOMP messages in a programmatic
 fashion. The messages can be easily generated and parsed, however, it's
 up to the user to do the sending and receiving.
